.header {
  text-align: center;
  font-size: 4.8rem;
  line-height: 5rem;
  font-weight: 300;
  padding-top: 1rem;
  @media (min-width: $XS) {
    padding-top: 1.5rem;
  }
}

.projects {
  clip-path: polygon(0 calc(0% + 25px), 100% 0, 100% calc(100% - 25px), 0 100%);
  -webkit-clip-path: polygon(
    0 calc(0% + 25px),
    100% 0,
    100% calc(100% - 25px),
    0 100%
  );
  text-align: center;
  color: $secondary;
  // background: $gradient;
  padding: 3rem 1.5rem;
  width: 100%;
  margin: 0 8px;
  @media (min-width: $XS) {
    padding: 4rem 2.5rem 0;
    margin: 0 15px;
    clip-path: polygon(
      0 calc(0% + 45px),
      100% 0,
      100% calc(100% - 45px),
      0 100%
    );
    -webkit-clip-path: polygon(
      0 calc(0% + 45px),
      100% 0,
      100% calc(100% - 45px),
      0 100%
    );
  }

  .format {
    margin: 0 auto;
    max-width: 900px !important;
    padding-bottom: 5rem;

    @media (min-width: $XS) {
      padding-bottom: 6rem;
    }

    .project-layout {
      margin: 0 auto;

      .project-images {
        img {
          margin: 0 auto;
          max-width: 450px;
          width: 100%;
        }

        // img:last-child {
        //   display: none;
        //   @media (min-width: $S) {
        //     padding-top: 2rem;
        //     display: block;
        //   }
        // }
      }
      .project-description {
        vertical-align: middle;
        margin: auto 0;
        padding: 0 15px 25px;
        @media (min-width: $S) {
          padding: 0 15px 25px;
        }

        .project-logo {
          max-width: 100px;
          width: 100%;
          padding-bottom: 2rem;
        }

        h1 {
          text-decoration: underline;
          padding-bottom: 1rem;
        }

        h2 {
          padding-bottom: 1rem;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          padding-bottom: 1rem;
          @media (min-width: $S) {
            font-size: 17px;
            line-height: 21px;
          }
        }

        .logos {
          display: inline-block;
          margin-right: 10px;

          img {
            max-width: 50px;
          }

          .HTML {
            max-width: 45px;
          }

          .Javascript,
          .MAMP,
          .CSS {
            max-width: 40px;
          }

          .Next-js,
          .Node-js,
          .PHP,
          .Salesforce {
            max-width: 60px;
          }

          .Gulp {
            max-height: 60px;
          }
        }

        .logos:last-child {
          margin: 0;
        }
      }
    }
    .resume {
      text-align: center;

      h1 {
        font-size: 5rem;
        padding-bottom: 2rem;
        font-weight: 300;
      }

      .contact {
        img {
          max-width: 65px;
          @media (min-width: $mobile) {
            max-width: 65px;
          }
        }
        #margin {
          margin-right: 2rem;
          margin-left: 2rem;
          @media (min-width: $S) {
            margin-right: 2rem;
            margin-left: 2rem;
          }
        }
      }

      h3 {
        font-size: 2.8rem;
        padding-top: 2rem;
        color: white;
        @media (min-width: 335px) {
          font-size: 3rem;
        }
      }
      a {
        color: white;
        text-decoration: underline;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        padding-top: 3rem;
        @media (min-width: $XS) {
          font-size: 17px;
          line-height: 21px;
        }
      }
    }
  }
}

.odd {
  @extend .projects;
  background: $gradient;
  color: white;
  margin: 0;

  .format {
    padding: 5rem 0 10rem;

    @media (min-width: $S) {
      padding: 7rem 0 11rem;
    }
  }

  h1,
  h2 {
    color: white;
  }
}
#last.odd {
  clip-path: polygon(0 calc(0% + 45px), 100% 0, 100% calc(100% - 0px), 0 100%);
  -webkit-clip-path: polygon(
    0 calc(0% + 45px),
    100% 0,
    100% calc(100% - 0px),
    0 100%
  );

  .format {
    padding: 5rem 0 7rem;

    @media (min-width: $S) {
      padding: 7rem 0 9rem;
    }
  }
}
