.skill-sliders {
  clip-path: polygon(0 calc(0% + 25px), 100% 0, 100% calc(100% - 25px), 0 100%);
  -webkit-clip-path: polygon(
    0 calc(0% + 25px),
    100% 0,
    100% calc(100% - 25px),
    0 100%
  );
  text-align: center;
  color: white;
  background: $gradient;
  padding: 6rem 1.5rem 7rem;

  width: 100%;
  @media (min-width: $XS) {
    padding: 8rem 1.5rem 9rem;
    clip-path: polygon(
      0 calc(0% + 45px),
      100% 0,
      100% calc(100% - 45px),
      0 100%
    );
    -webkit-clip-path: polygon(
      0 calc(0% + 45px),
      100% 0,
      100% calc(100% - 45px),
      0 100%
    );
  }

  .format {
    margin: 0 auto;
    max-width: 980px !important;

    @media (min-width: $XS) {
      padding: 0 25px;
    }

    .intro {
      font-size: 5rem;
      padding-bottom: 2.5rem;
      @media (min-width: $XS) {
        padding-bottom: 5rem;
      }
    }

    .skillName {
      padding: 0 10px 3rem;
      max-width: 85%;
      margin: 0 auto;
      @media (min-width: $mobile) {
        padding: 0 10px 5rem;
        max-width: 70%;
      }
      @media (min-width: $XS) {
        max-width: 100%;
      }

      p {
        font-size: 28px;
        @media (min-width: $XS) {
          font-size: 30px;
        }
        margin-bottom: 1.5rem;
      }
      .CircularProgressbar {
        width: 85%;
      }
      .CircularProgressbar-path {
        stroke: #542c85;
        fill: #542c85;
      }
      .CircularProgressbar-text {
        stroke: white;
        fill: white;
      }
    }

    .show-more {
      margin: 0 auto;
      // padding-top: 4rem;

      button {
        border: 0;
        color: #542c58;
        background-color: white;
        border-color: #542c58;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px 20px;
        font-weight: 600;
        &:hover {
          border: 0;
          color: white;
          background-color: #542c58;
          border-color: #542c58;
          box-shadow: none;
        }
        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
    }

    .other-tools {
      padding: 6rem 0 0;
      font-size: 3.5rem;
    }

    .other-tools-icon {
      padding: 0;

      @media (min-width: $S) {
        padding: 5rem 0 0;
        text-align: right;
      }

      .github {
        max-width: 45px;
        margin-top: 12px;
        // content: src('../../../assets/images/logos/github.png');
      }
      .heroku {
        margin-right: 3px;
        max-width: 41px;
        margin-top: 12px;
      }
      .aws {
        margin-right: 6px;
        max-width: 45px;
        margin-top: 12px;
      }
      .sf {
        margin-right: 2px;
        max-width: 50px;
        margin-top: 12px;
      }
      .psd {
        max-width: 48px;
        margin-top: 12px;
      }
      .inD {
        max-width: 48px;
        margin-top: 12px;
      }
      .xd {
        margin-right: 3px;
        max-width: 48px;
        margin-top: 12px;
      }
      .sketch {
        max-width: 40px;
        margin-top: 12px;
      }
    }
  }
}
