.skill-sliders {
  // clip-path: polygon(0 calc(0% + 25px), 100% 0, 100% calc(100% - 25px), 0 100%);
  // -webkit-clip-path: polygon(
  //   0 calc(0% + 25px),
  //   100% 0,
  //   100% calc(100% - 25px),
  //   0 100%
  // );
  text-align: center;
  color: $secondary;
  // background: $gradient;
  padding: 6rem 2rem;
  width: 100%;

  @media (min-width: $S) {
    padding: 7.5rem 2.5rem;
    // padding: 11rem 1.5rem;
    // clip-path: polygon(
    //   0 calc(0% + 45px),
    //   100% 0,
    //   100% calc(100% - 45px),
    //   0 100%
    // );
    // -webkit-clip-path: polygon(
    //   0 calc(0% + 45px),
    //   100% 0,
    //   100% calc(100% - 45px),
    //   0 100%
    // );
  }

  .format {
    margin: 0 auto;
    max-width: 980px !important;

    .intro {
      font-size: 4.8rem;
      line-height: 5rem;
      font-weight: 400;
      padding-bottom: 4rem;
    }

    .skillName {
      padding: 0 0 3rem;
      margin: 0 auto;

      @media (min-width: $S) {
        padding: 0 0 4rem;
      }

      p {
        font-size: 28px;
        margin-bottom: 0.5rem;

        @media (min-width: $XS) {
          font-size: 30px;
        }
      }

      .icons {
        max-width: 100px;

        @media (min-width: $S) {
          max-width: 110px;
        }
      }

      .image-middle {
        padding-top: 2rem;
      }

      .nextjs {
        max-width: 140px;
      }
    }

    .show-more {
      margin: 0 auto;
      padding-top: 3rem;
      @media (min-width: $S) {
        padding-top: 1rem;
      }

      button {
        @extend .site-button;
        margin: 1rem auto 3rem;
        border-radius: 5px;
        padding: 5px 0;
        font-size: 2rem;
        line-height: 4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $secondary;
        border: 2px solid $secondary;
        background-color: white;
        background-image: -webkit-linear-gradient(
          225deg,
          $secondary 50%,
          transparent 50%
        );
        background-image: linear-gradient(
          225deg,
          $secondary 50%,
          transparent 50%
        );
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;

        &:hover,
        &:active,
        &:focus {
          background-position: 100%;
          color: white;
        }
      }
    }

    .other-tools {
      font-size: 25px;
      line-height: 29px;
      font-weight: 400;
      padding: 0;

      @media (min-width: $S) {
        padding: 1.5rem 0 0;
        font-size: 28px;
        line-height: 32px;
      }
    }

    .other-tools-icon {
      padding: 0;

      .animate {
        display: inline-block;

        .Github {
          max-width: 43px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .Wordpress {
          max-width: 46px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .Heroku {
          max-width: 34px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .AWS {
          max-width: 45px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .Salesforce {
          max-width: 50px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .Photoshop {
          max-width: 43px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .InDesign {
          max-width: 43px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .XD {
          max-width: 43px;
          margin-top: 12px;
          margin-right: 12px;
          @media (min-width: $S) {
            margin-top: 0;
            margin-right: 8px;
          }
        }
        .Sketch {
          max-width: 40px;
          margin-top: 12px;
          @media (min-width: $S) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
