.about-page {
  margin: -20rem auto 0;
  z-index: 20;

  @media (min-width: $XS) {
    max-width: 900px !important;
    padding: 0 25px;
  }

  .about-page-wrapper {
    border-radius: 10px;
    background-color: white;
    padding: 25px 15px 40px;
    margin: 0 15px;

    @media (min-width: $XS) {
      padding: 40px 30px 40px;
    }
    @media (min-width: $S) {
      padding: 40px 15px;
    }

    .about {
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      line-height: 21px;
      font-weight: 300;
      color: $secondary;
      @media (min-width: $XS) {
        font-size: 18px;
        line-height: 24px;
      }
      .me {
        width: 300px;
        max-width: 300px;
      }

      h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        @media (min-width: $XS) {
          margin-bottom: 2.5rem;
        }
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        @media (min-width: $XS) {
          margin-bottom: 2.5rem;
        }
      }

      p {
        margin-bottom: 1.5rem;
        @media (min-width: $XS) {
          margin-bottom: 2.5rem;
        }
      }
    }

    .coding-time {
      text-align: center;

      .coding-chart {
        max-width: 250px;
        @media (min-width: 375px) {
          max-width: 300px;
        }
        @media (min-width: $XS) {
          max-width: 400px;
        }
        @media (min-width: $S) {
          max-width: 600px;
        }
      }
    }

    .quotes {
      padding-top: 30px;
      text-align: center;
      @media (min-width: $XS) {
        padding-top: 40px;
      }
    }
  }
}
