.blog-page {
  margin: 0 auto;

  .blog-header {
    text-align: left;
    padding: 0 0 30px;
    @media (min-width: $S) {
      text-align: center;
    }
  }

  .blogs-cont {
    margin: 0 auto;

    @media (min-width: $BTP576) {
      width: 100%;
      max-width: 900px;
    }

    .blog-image {
      padding: 0;

      @media (min-width: $S) {
        padding: 0 15px 60px;
      }

      .card-image-top {
        img {
          margin: 0;
        }
      }
    }

    .blog-post {
      padding: 15px 10px 40px;
      @media (min-width: $mobile) {
        padding: 15px 15px 40px;
      }
      @media (min-width: $S) {
        padding: 0 15px 60px 0;
      }

      .blog-title {
        @media (min-width: 850px) {
          padding-top: 25px;
        }
        a {
          color: blue;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 0;
          display: block;
          @media (min-width: $S) {
            font-size: 21px;
            line-height: 25px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }

      .fa-calendar {
        color: green;
        font-size: 14px;
        margin-bottom: 0;
        display: inline-block;
        margin: 0 5px 5px 0;
        @media (min-width: $mobile) {
          font-size: 16px;
        }
      }

      .date {
        display: inline-block;
        font-style: italic;
        color: red;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 5px;
        @media (min-width: $S) {
          font-size: 14px;
          line-height: 17px;
        }
      }

      .card-body {
        padding: 0;
        color: black;
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;

        @media (min-width: 800px) {
          font-size: 18px;
          line-height: 22px;
        }
        @media (min-width: 850px) {
          padding-top: 5px;
        }
      }

      .tags {
        text-align: right;

        @media (min-width: $S) {
          position: absolute;
          bottom: 60px;
          right: 15px;
        }

        a {
          display: inline-block;
          //  &:hover {
          //     slide across
          //  }
        }

        .badge {
          text-transform: uppercase;
          background-color: red;
          margin: 0 0 0 7px;
          padding: 6px 7px;
          font-size: 8.5px;
          letter-spacing: 0.5px;
          @media (min-width: $S) {
            margin: 0 0 10px 10px;
            padding: 8px;
            font-size: 10.5px;
          }
        }
      }
    }
  }
}
