.email-portal-container {
  margin: -20rem auto 0;
  z-index: 20;
  padding: 0 15px;
  max-width: 980px !important;

  .email-portal {
    border-radius: 10px;
    background-color: white;
    padding: 40px 15px 80px;
    margin: 0 15px;

    @media (min-width: $XS) {
      padding: 40px 30px 60px;
    }

    .intro {
      text-align: center;
      padding-bottom: 20px;
      font-size: 38px;
      line-height: 42px;
      font-weight: 400;
      color: $secondary;

      @media (min-width: $XS) {
        padding-bottom: 30px;
      }
    }
    .description {
      text-align: center;

      p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        color: $secondary;
        margin-bottom: 5px;

        @media (min-width: $XS) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }

  .email-container {
    display: block;

    @media (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    .html-email {
        margin-bottom: 0;
        padding-bottom: 4rem;
      

      .html-image {
        margin: 0 auto;
        max-width: 350px;
      }

      .html-title {
        text-align: center;
        padding: 1rem 0 2.5rem;
        font-size: 22px;
        line-height: 26px;
        color: $secondary;
        width: 65%;
        margin: 0 auto;

        &:hover {
          text-decoration: underline;
        }

        @media (min-width: $S) {
          width: 100%;
        }
      }

      .bottom-border {
        border-bottom: 1px solid $secondary;
        width: 85%;
        margin: 0 auto;

        @media (min-width: $S) {
          border: none;
        }
      }
    }
  }
}
