.index-page {
  margin: -20rem auto 0;
  z-index: 20;
  padding: 0 15px;
  max-width: 980px !important;

  .index-page-wrapper {
    border-radius: 10px;
    background-color: white;
    padding: 40px 15px 40px;
    margin: 0 8px;

    @media (min-width: $XS) {
      padding: 40px 25px 60px;
      margin: 0 15px;
    }

    .intro {
      margin: 0 auto;
      text-align: center;

      .me {
        max-width: 250px;
        height: 200px;
        border-radius: 75px;
        display: block;
        margin: 0 auto;
      }

      .contact {
        padding-top: 20px;
        margin: 0 auto;
        display: inline-block;
        color: black;
        font-size: 22px;
        font-weight: 500;
        @media (min-width: $XS) {
          font-weight: 600;
        }
        .animate {
          display: inline-block;

          img {
            max-width: 60px;
            @media (min-width: $mobile) {
              max-width: 60px;
            }
          }
          #margin {
            margin-right: 1rem;
            margin-left: 1rem;
            @media (min-width: $S) {
              margin-right: 2rem;
              margin-left: 2rem;
            }
          }
        }
      }

      .info {
        padding-top: 20px;
        color: $secondary;
        text-align: center;

        p {
          font-size: 16px;
          line-height: 20px;
          @media (min-width: $XS) {
            font-size: 17px;
            line-height: 21px;
          }
        }
        p:last-child {
          padding-top: 1rem;
        }
      }
    }
  }
}
