.index-page {
  margin: -20rem auto;
  z-index: 20;

  @media (min-width: $XS) {
    max-width: 900px !important;
    padding: 0 25px;
  }

  .index-page-wrapper {
    border-radius: 10px;
    background-color: white;
    padding: 25px 15px 40px;
    margin: 0 15px;

    @media (min-width: $XS) {
      padding: 40px 30px 40px;
    }
    @media (min-width: $S) {
      padding: 40px 15px;
    }

    .intro {
      margin: 0 auto;
      text-align: center;

      .me {
        max-width: 160px;
        border-radius: 75px;
        display: block;
        margin: 0 auto;
      }

      span {
        padding-top: 10px;
        display: block;
        font-size: 17px;
        line-height: 21px;
        @media (min-width: $XS) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .info {
        padding-top: 15px;
        color: $secondary;
        font-size: 17px;
        line-height: 21px;
        @media (min-width: $XS) {
          font-size: 18px;
          line-height: 24px;
        }

        .contact {
          padding-top: 20px;
          margin: 0 auto;
          display: block;

          &:first-of-type {
            color: black;
            font-size: 22px;
            font-weight: 500;
            @media (min-width: $XS) {
              font-weight: 600;
            }
          }
          .email {
            width: 20px;
            margin-bottom: 0.2rem;
            margin-right: 5px;
            @media (min-width: $XS) {
              margin-right: 5px;
            }
          }
          .github {
            width: 20px;
            margin-bottom: 0.4rem;
            margin-right: 5px;
            @media (min-width: $XS) {
              margin-right: 5px;
            }
          }
          .lnkdin {
            width: 20px;
            margin-bottom: 0.4rem;
          }
        }
      }
    }
  }
}
