.index-page {
  margin: -20rem auto 0;
  z-index: 20;
  max-width: 950px !important;
  padding: 0 25px;

  .index-page-wrapper {
    border-radius: 10px;
    background-color: white;
    padding: 25px 15px 40px;
    margin: 0 15px;

    @media (min-width: $XS) {
      padding: 40px 30px 40px;
    }
    @media (min-width: $S) {
      padding: 40px 15px 30px 15px;
    }

    .intro {
      margin: 0 auto;
      text-align: center;

      .typed-wrapper {
        margin: 0 auto;
        text-align: center;

        span {
          max-width: 200px;

          input {
            max-width: 200px;
            text-align: center;
            border: 0;
            font-size: 30px;
            @media (min-width: $XS) {
              font-size: 60px;
            }
          }
          ::placeholder {
            color: $secondary;
            opacity: 1;
          }
        }
      }

      .me {
        max-width: 160px;
        border-radius: 75px;
        display: block;
        margin: 0 auto;
      }

      .info {
        padding-top: 30px;
        color: $secondary;
        font-size: 17px;
        line-height: 21px;
        @media (min-width: $XS) {
          font-size: 18px;
          line-height: 24px;
        }

        .contact {
          padding-top: 20px;
          margin: 0 auto;
          display: block;

          &:first-of-type {
            color: black;
            font-size: 22px;
            font-weight: 500;
            @media (min-width: $XS) {
              font-weight: 600;
            }
          }
          .email {
            width: 20px;
            margin-bottom: 0.2rem;
            margin-right: 5px;
            @media (min-width: $XS) {
              margin-right: 5px;
            }
          }
          .github {
            width: 20px;
            margin-bottom: 0.4rem;
            margin-right: 5px;
            @media (min-width: $XS) {
              margin-right: 5px;
            }
          }
          .lnkdin {
            width: 20px;
            margin-bottom: 0.4rem;
          }
        }
      }
    }
  }
}
