html,
body {
  overflow-x: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.mobile-hide {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.desktop-hide {
  @media (min-width: 768px) {
    display: none !important;
  }
}

$font-size: 1.5em;
$line-height: 1.6;
$font-weight: 400;

// screen sizes
$L: 1200px;
$M: 992px;
$S: 768px;
$BTP576: 576px;
$mobile: 480px;

.em_hide_desktop {
  display: block;
  @media (min-width: $S) {
    display: none !important;
  }
}

.em_hide {
  display: none !important;
  @media (min-width: $S) {
    display: block !important;
  }
}
