$primary: black;
$secondary: #3e3f3e;

$gradient: linear-gradient(90deg, #000000, #3d3e3d);

$font-size-base: 10px;
$line-height: 1.6;
$font-weight: 300;

// screen sizes
$L: 1200px;
$M: 992px;
$S: 768px;
$XS: 576px;
$mobile: 480px;

html,
body {
  overflow-x: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-size: $font-size-base;
  color: $secondary;
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

:focus {
  outline: none !important;
  box-shadow: none;
}

h1,
h2,
h3 {
  color: $secondary;
}

.index-page-button {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.8rem 0;
  font-weight: 600;
  width: 190px;
  max-width: 190px;
  @media (min-width: $S) {
    width: 200px;
    max-width: 200px;
    padding: 1rem 0;
  }
  &:hover {
    box-shadow: none;
  }
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

// 768px and below
.em_hide_desktop {
  display: block !important;
  @media (min-width: $S) {
    display: none !important;
  }
}

// 480px and below
.em_hide_mobile {
  display: block !important;
  @media (min-width: $mobile) {
    display: none !important;
  }
}

// 768px and above
.em_hide {
  display: none !important;
  @media (min-width: $S) {
    display: block !important;
  }
}
